div#all {
    max-width: 100%;
    max-height: 100%;
}

.img-view {
    margin: 0px;
    overflow: hidden;
    position: relative;
    text-align: center;
    cursor: default;
    height: 210;
    width: 250;
    object-fit: cover;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}


/* .img-view img {
    width: 100%;
    height: 100%;
} */

.img-resize {
    height: 210px;
    width: 340px;
    overflow: hidden;
    position: absolute;
    text-align: center;
    cursor: default;
    object-fit: cover;
    object-position: center;
    margin: 0px;
}

/* #mask1, #mask2, #mask3, #mask4 {
    width: 340px;
    height: 210px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
} */

.view-first img {
    transition: all 0.2s linear;
    width: 340px;
    height: 210px;
}
/* 
.view-first #mask1, #mask2, #mask3, #mask4 {
    opacity: 0;
    transition: all 0.4s ease-in-out;
} */

.view-first p {
    transform: translateY(100px);
    /* transform: translate3d(100); */
    opacity: 0;
    /* height: 210px; */
    /* width: 340px; */
    transition: all 0.2s linear;
    text-align: center;
    display:flex;
    flex-direction:column;
    /* vertical-align: text-bottom; */
}

.view-first:hover img {
    transform: scale(1.05);
}
/* 
.view-first:hover #mask1, #mask2, #mask3, #mask4 {
    opacity: 1;
} */

.view-first:hover p {
    transition-delay: 0.1s;
    opacity: 1;
}

/* Specify width of the container */
@media (min-width: 1200px) {
    .container {
      width: 1400px;
    }
  }